.start_screen {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: url(../../assets/img/start-screenbgr.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.header {
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: "Ailerons-Typerface", sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #d4af37;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 2;
}

.black_screen {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #181a20;
  z-index: 1;
  opacity: 0;
}

.start_button {
  width: 300px;
  height: 80px;
  display: grid;
  place-content: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
  background: url(../../assets/img/goldbgr.png);
  background-size: cover;
  z-index: 2;
  display: none;

  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

@media (max-width: 1000px) {
  .start_screen {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    position: unset;
    margin-top: 32px;
  }
}

@media (max-width: 600px) or (max-height: 650px) {
  .header {
    font-size: 36px;
  }
  .start_button {
    width: 200px;
    font-size: 27px;
  }
}

@media (max-height: 650px) {
  .start_button {
    height: 50px;
    font-size: 21px;
  }
}

@media (min-width: 450px) and (max-height: 420px) {
  .header {
    margin-top: calc(50vh - 21.6px);
  }
}
